<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<h3>投稿を検索</h3>
 <%= form_tag({controller:"languages",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>
<%= link_to "新規投稿へ", new_language_path %>
<div class="languages-container">
  <% @languages.each do |t| %>
    <div class="language">
      <%= t.post_name %>
      <%= t.grade %>
      <%= t.about %>
      <%= t.image %>
    
      <% if t.urla.present? %> 
      <%= Rinku.auto_link(t.urla, :all, 'target="_blank"').html_safe %>
      <% end %>


      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to language_like_path(id: t.id, language_id: t.id), method: :delete do %>
              <p>いいねを取り消す</p><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to language_likes_path(id: t.id, language_id: t.id), method: :post do %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
  <% end %>
      <%= link_to "詳細へ", language_path(t.id) %>  
      <%= link_to "編集する", edit_language_path(t.id) %>
      <%= button_to "削除する", language_path(t.id), method: :delete %> 

    
      <%= t.user.email %> 
      <% t.tags.each do |tag| %>
      <%= tag.name %>
      <% end %>
    
    </div>
    <% end %>
    </div>
    
  <%= form_tag({controller:"languages",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>
<%= form_tag({controller:"languages",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>

</div>